@font-face {
	font-family: 'acicon';
	src:url('../fonts/acicon.eot?-grcj7u');
	src:url('../fonts/acicon.eot?#iefix-grcj7u') format('embedded-opentype'),
		url('../fonts/acicon.woff?-grcj7u') format('woff'),
		url('../fonts/acicon.ttf?-grcj7u') format('truetype'),
		url('../fonts/acicon.svg?-grcj7u#acicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ac-icon-"], [class*=" ac-icon-"] {
	font-family: 'acicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.ac-icon-edit:before {
	content: "\f040";
}
.ac-icon-move:before {
	content: "\f047";
}
.ac-icon-add:before {
	content: "\f067";
}
.ac-icon-minus:before {
	content: "\f068";
}
.ac-icon-circle:before {
	content: "\f111";
}
.ac-icon-ellipsis-h:before {
	content: "\f141";
}
.ac-icon-save:before {
	content: "\e61b";
}
.ac-icon-file-code:before {
	content: "\e619";
}
.ac-icon-objects:before {
	content: "\e600";
}
.ac-icon-done:before {
	content: "\e612";
}
.ac-icon-help:before {
	content: "\e621";
}
.ac-icon-section:before {
	content: "\e601";
}
.ac-icon-view-module:before {
	content: "\e622";
}
.ac-icon-play:before {
	content: "\e63c";
}
.ac-icon-refresh:before {
	content: "\e63e";
}
.ac-icon-clear:before {
	content: "\e602";
}
.ac-icon-redo2:before {
	content: "\e634";
}
.ac-icon-undo2:before {
	content: "\e635";
}
.ac-icon-responsive:before {
	content: "\e624";
}
.ac-icon-align-center:before {
	content: "\e625";
}
.ac-icon-align-left:before {
	content: "\e628";
}
.ac-icon-align-right:before {
	content: "\e629";
}
.ac-icon-bold:before {
	content: "\e62a";
}
.ac-icon-format-color-text:before {
	content: "\e62b";
}
.ac-icon-italic:before {
	content: "\e62c";
}
.ac-icon-list-ul:before {
	content: "\e62d";
}
.ac-icon-list-ol:before {
	content: "\e62e";
}
.ac-icon-strikethrough:before {
	content: "\e632";
}
.ac-icon-underline:before {
	content: "\e633";
}
.ac-icon-vertical-align:before {
	content: "\e636";
}
.ac-icon-laptop:before {
	content: "\e623";
}
.ac-icon-arrow-down:before {
	content: "\e637";
}
.ac-icon-arrow-left:before {
	content: "\e638";
}
.ac-icon-arrow-right:before {
	content: "\e639";
}
.ac-icon-arrow-up:before {
	content: "\e63a";
}
.ac-icon-backspace:before {
	content: "\e63b";
}
.ac-icon-newline:before {
	content: "\e603";
}
.ac-icon-phone:before {
	content: "\e62f";
}
.ac-icon-tablet:before {
	content: "\e630";
}
.ac-icon-tablet-hoz:before {
	content: "\e631";
}
.ac-icon-split:before {
	content: "\e60e";
}
.ac-icon-eye:before {
	content: "\e63d";
}
.ac-icon-tune:before {
	content: "\e60f";
}
.ac-icon-star:before {
	content: "\e613";
}
.ac-icon-star-outline:before {
	content: "\e627";
}
.ac-icon-link:before {
	content: "\e005";
}
.ac-icon-caption:before {
	content: "\e076";
}
.ac-icon-slideshow:before {
	content: "\e60a";
}
.ac-icon-accordion:before {
	content: "\e605";
}
.ac-icon-sublayout:before {
	content: "\e606";
}
.ac-icon-divider:before {
	content: "\e607";
}
.ac-icon-facebook:before {
	content: "\e608";
}
.ac-icon-flickr:before {
	content: "\e609";
}
.ac-icon-header:before {
	content: "\e60b";
}
.ac-icon-iframe:before {
	content: "\e60c";
}
.ac-icon-image:before {
	content: "\e60d";
}
.ac-icon-map:before {
	content: "\e610";
}
.ac-icon-message:before {
	content: "\e611";
}
.ac-icon-tabs:before {
	content: "\e615";
}
.ac-icon-table:before {
	content: "\e616";
}
.ac-icon-text:before {
	content: "\e617";
}
.ac-icon-twitter:before {
	content: "\e61a";
}
.ac-icon-upload:before {
	content: "\e61c";
}
.ac-icon-video:before {
	content: "\e61d";
}
.ac-icon-gallery:before {
	content: "\e614";
}
.ac-icon-group:before {
	content: "\e618";
}
.ac-icon-code:before {
	content: "\e61e";
}
.ac-icon-drupal:before {
	content: "\e61f";
}
.ac-icon-wordpress:before {
	content: "\e620";
}
.ac-icon-button:before {
	content: "\e626";
}
.ac-icon-comment:before {
	content: "\e02c";
}
.ac-icon-image2:before {
	content: "\e032";
}
.ac-icon-clone:before {
	content: "\e040";
}
.ac-icon-undo:before {
	content: "\e050";
}
.ac-icon-redo:before {
	content: "\e051";
}
.ac-icon-moveleft:before {
	content: "\e065";
}
.ac-icon-moveright:before {
	content: "\e066";
}
.ac-icon-trash:before {
	content: "\e604";
}