@import url(ac-icon.css);

/*.OpenSans, .OpenSans-cover * {font-family: 'Open Sans', sans-serif;}
.Roboto, .Roboto-cover * {font-family: 'Roboto', sans-serif;}
.RobotoCondensed, .RobotoCondensed-cover * {font-family: 'Roboto Condensed', sans-serif;}
*/

/* button */
.awe-actionbutton {
	background: #0e83ff !important;
	color: #fff !important;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	position: relative;
	z-index: 1;
	font-size: 13px;
    font-weight: 600;
    line-height: 35px;
    margin: 0;
    padding: 0 22px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.awe-actionbutton:focus {
	outline: none;
	color: #fff !important;
}
.awe-actionbutton.button--inverted {
	background: none;
	color: #fff;
}
.awe-actionbutton::before,
.awe-actionbutton::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 100%;
	left: 0;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.awe-actionbutton::before {
	background: #292A2D !important;
}
.awe-actionbutton::after {
	background: #131415 !important;
}
.awe-actionbutton:hover {
	color: #fff !important;
	text-decoration: none;
}
.awe-actionbutton:hover::before,
.awe-actionbutton:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.awe-actionbutton:hover::after {
	-webkit-transition-delay: 0.175s;
	transition-delay: 0.175s;
}